@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,600;1,700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}
:root{
    --crimson-:#dc143c;
    --black-:#0d0d0d;
    --lightbg-:#1a1a1a;
    --lightclr-:#aaa;
    --box-shadow-:0 .5rem 1rem rgba(0,0,0.7);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;

}


body{
    background-color: var(--black-);
    padding-bottom: 6.5rem;
    
}
section{
    padding: 5rem 9%;
    overflow: hidden;

}
.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: crimson;
    padding: .7rem;
    font-size: 1.7rem;
    color: #fff;
    padding-left: 2rem;
}
.btn i {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 1.7rem;
    text-align: center;
    background: #fff;
    color: crimson;
    border-radius: 50%;
    margin-left: 1rem;
    /* transition: .3s linear; */
    transition: all .2s ease-in-out;
   
}
.btn:hover i {
    /* margin-left: 2.5rem; */
    color: #0d0d0d;
    transform: scale(.9);

  }

.navbar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 1000;
    align-items: flex-end;
  

}

.navbar a{
    padding: 2rem;
    font-size: 2rem;
    background: #1a1a1a;
    flex: 1;
    color: #fff;
    text-align: center;
    transition: .2s linear;
}
.navbar a i
{
    color: var(--crimson-);
    padding-right: .5rem;

}
.navbar a:hover{
    background: var(--crimson-);
    padding-bottom: 4rem;
}
.navbar a:hover i{
    color: #fff;
}
.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    min-height: calc(100vh - 6.5rem);
}
.home .image {
    flex: 1 1 42rem;
    text-align: center;
}
.home .image img{
    height: 45rem;
    width: 45rem;
}
.home .content {
    flex: 1 1 42rem;

}
.home .content h3 {
    color: #fff;
    font-size: 4rem;
    padding-bottom: .5rem;
}
.home .content span 
{
    font-size: 3rem;
    color: crimson;
    padding: .5rem 0;
    display: block;
}
.home .content p {
    font-size: 1.5rem;
    color: var(--lightclr-);
    padding: 1rem 0;
    line-height: 2;
}


.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    min-height: calc(100vh - 6.5rem);
}
.about .content {
    flex: 1 1 42rem;

}
.about .content h3 {
    color: #fff;
    font-size: 4rem;
    padding-bottom: .5rem;
}

.about .content p {
    font-size: 1.5rem;
    color: var(--lightclr-);
    padding: 1rem 0;
    line-height: 2;
}

.about .image {
    flex: 1 1 42rem;
    text-align: center;
}
.about .image img{
    height: 45rem;
    width: 45rem;
}

.contact{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	/* align-items: center; */
	gap: 3rem;
}
.contact-text h4{
	margin: 15px 0;
	color: crimson;
	font-size: 17px;
	font-weight: 600;
}
.contact-text h2{
    color: #fff;
    font-size: 4rem;
    /* padding-bottom: .2rem; */
}
.contact-text p{
	color: var(--lightclr-);
	font-size: 1.5rem;
	line-height: 30px;
	margin-bottom: 1..5rem;
}
.contact-list{
	margin-bottom: 3rem;
}
.contact-list li{
	margin-bottom: 10px;
	display: block;
}
.contact-list li a{
	display: block;
	color:white;
	font-size: 1rem;
	font-weight: 600;
	transition: all .40s ease;
}
.contact-list li a:hover{
	transform: scale(1) translateY(-2px);
	color: var(--crimson-);
}
.contact-icons i{
	height: 40px;
	width: 40px;
	background: #12141c;
	border-radius: 0.5rem;
	color: white;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	margin-right: 10px;
	transition: all .40s ease;
}
.contact-icons i:hover{
	transform: scale(1.01) translateY(-5px);
	color: var(--crimson-);
	background: black;
}

.contact-form form{
    padding-top: 1rem;
	position: relative;
}
.contact-form form input,
form textarea{
	border: none;
	outline: none;
	width: 100%;
	padding: 18px;
	background: #12141c;
	color: var(--lightclr-);
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
}
.contact-form textarea{
	resize: none;
	height: 200px;
}
.contact-form form .send{
    display: inline-block;
    font-size: 20px;
    font-weight: 550;
    background: var(--crimson-);
    color: white;
    width: 100%;
    border-radius: 5rem;
    transition: all .40s ease;
    cursor: pointer;
}



@media (max-width:1200px) {
    html{
        font-size: 55%;
    }
    section{
        padding: 3rem 2rem;
        
    }
    
}
@media (max-width:768px) {
    .navbar a i{
          padding: 0;
    }
    .navbar a span{
        display: none;
    }
    .navbar a:hover{
        padding-bottom: 1.5rem;
    }


    .about .image img{
        display: none;
    }
    .contact{
		grid-template-columns: 1fr;
	}
   
    
}

@media (max-width:450px) {
    html{
        font-size: 50%;
    }


    
    
}