@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,600;1,700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}
:root{
    --crimson-:#dc143c;
    --black-:#0d0d0d;
    --lightbg-:#1a1a1a;
    --lightclr-:#aaa;
    --box-shadow-:0 .5rem 1rem rgba(0,0,0.7);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;

}


body{
    background-color: var(--black-);
    padding-bottom: 6.5rem;
    
}
section{
    padding: 5rem 9%;
    overflow: hidden;

}
.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: crimson;
    padding: .7rem;
    font-size: 1.7rem;
    color: #fff;
    padding-left: 2rem;
}
.btn i {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 1.7rem;
    text-align: center;
    background: #fff;
    color: crimson;
    border-radius: 50%;
    margin-left: 1rem;
    /* transition: .3s linear; */
    transition: all .2s ease-in-out;
   
}
.btn:hover i {
    /* margin-left: 2.5rem; */
    color: #0d0d0d;
    transform: scale(.9);

  }

.navbar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 1000;
    align-items: flex-end;
  

}

.navbar a{
    padding: 2rem;
    font-size: 2rem;
    background: #1a1a1a;
    flex: 1;
    color: #fff;
    text-align: center;
    transition: .2s linear;
}
.navbar a i
{
    color: var(--crimson-);
    padding-right: .5rem;

}
.navbar a:hover{
    background: var(--crimson-);
    padding-bottom: 4rem;
}
.navbar a:hover i{
    color: #fff;
}
.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    min-height: calc(100vh - 6.5rem);
}
.home .image {
    flex: 1 1 42rem;
    text-align: center;
}
.home .image img{
    height: 45rem;
    width: 45rem;
}
.home .content {
    flex: 1 1 42rem;

}
.home .content h3 {
    color: #fff;
    font-size: 4rem;
    padding-bottom: .5rem;
}
.home .content span 
{
    font-size: 3rem;
    color: crimson;
    padding: .5rem 0;
    display: block;
}
.home .content p {
    font-size: 1.5rem;
    color: var(--lightclr-);
    padding: 1rem 0;
    line-height: 2;
}


.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    min-height: calc(100vh - 6.5rem);
}
.about .content {
    flex: 1 1 42rem;

}
.about .content h3 {
    color: #fff;
    font-size: 4rem;
    padding-bottom: .5rem;
    text-align: center;
}

.about .content p {
    font-size: 1.3rem;
    color: var(--lightclr-);
    padding: 1rem 0;
    line-height: 2;
}

.about .image {
    flex: 1 1 42rem;
    text-align: center;
}
.about .image img{
    height: 45rem;
    width: 45rem;
}








/* portfolio section */
.portfolio .heading{
    color: #fff;
    font-size: 4rem;
    padding-bottom: 2.5rem;
    text-align:center ;
}

.portfolio {
    text-align: center;
}

.portfolio .box-container {
    display: grid;
    gap: 1.5rem;
    margin-bottom: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    justify-items: center;
}
.portfolio .box-container .box {
    height: 30rem;
    width: 30rem;
    overflow: hidden;
    position: relative;
}
.portfolio .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.portfolio .box-container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    transform: translatex(100%);
    transition: .2s linear;
  }
.portfolio .box-container .box:hover .content {
        transform: translatex(0%);
  }
.portfolio .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
  }
  .portfolio .box-container .box .content p {
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 2;
    color: #aaa;
  }
.portfolio .box-container .box .content a {
    font-size: 2rem;
    color: crimson;
  }
.portfolio .box-container .box .content a:hover {
    color: #fff;
  }
  .portfolio .box-container .box .content p:hover {
    color: #fff;
    /* font-weight: 500; */
  }
  



@media (max-width:1200px) {
    html{
        font-size: 55%;
    }
    section{
        padding: 3rem 2rem;
        
    }
    
}
@media (max-width:768px) {
    .navbar a i{
          padding: 0;
    }
    .navbar a span{
        display: none;
    }
    .navbar a:hover{
        padding-bottom: 1.5rem;
    }
    .home .image img {
        height: 40rem;
        width: 40rem;
    }
    .about .image img{
        display: none;
    }
    


   
   
    
}

@media (max-width:450px) {
    html{
        font-size: 50%;
    }
    /* .about .image img{
        display: none;
    } */
    .about .content .h3{
        text-align: center;
    }
    .about{
        flex-wrap: wrap-reverse;
    }
    .portfolio .box-container .box {
        height: 25rem;
        width: 25rem;
    }
    .portfolio .box-container {
        gap:3rem;
    }


    
    
}